<h1>TŁUMACZ</h1>

<div>
  <div class='look_up'>look up any word, like :</div>
  <form accept-charset="UTF-8" action="find" method="get">
    <input id="polskie" name="word" type="text"/>
    <input class='btn' type='submit' value='search'>
  </form>
</div>

<%= link_to 'Add new word', new_word_path %>
